In [1]:
import sqlite3

connection = sqlite3.connect('test.db')
connection

In [2]:
cursor = connection.cursor()

In [3]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS employees(
  employee_id INT PRIMARY KEY,
  first_name VARCHAR(255),
  last_name VARCHAR(255),
  email VARCHAR(255),
  phone_number VARCHAR(20),
  department_id INT
)''')
connection.commit()

In [4]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS departments(
  department_id INT PRIMARY KEY,
  department_name VARCHAR(100),
  location VARCHAR(100),
  manager_id INT

)''')
connection.commit()

In [5]:
def insert_employee(employee_id, first_name, last_name, email, phone_number, department_id):
    cursor.execute(f'''
        INSERT INTO employees(employee_id, first_name, last_name, email, phone_number, department_id)
            VALUES ('{employee_id}', '{first_name}', '{last_name}', '{email}', '{phone_number}', '{department_id}')
    ''')

In [6]:
def insert_department(department_id, department_name, location, manager_id):
    cursor.execute(f'''
        INSERT INTO departments(department_id, department_name, location, manager_id)
            VALUES ('{department_id}', '{department_name}', '{location}', '{manager_id}')
    ''')

In [7]:
def show_all(table_name):
    cursor.execute(f'''
        SELECT * FROM {table_name}
    ''')
    rows = cursor.fetchall()
    for row in rows:
        print(row)

In [8]:
# To Put Five Values in both tables

In [9]:
insert_employee(employee_id=1001,first_name='Maharshi', last_name='Joshi', email='xyz@gmail.com',phone_number='0123456789', department_id='11')
insert_employee(employee_id=1002,first_name='abc', last_name='xyz', email='test@gmail.com',phone_number='98792879872', department_id='12')
insert_employee(employee_id=1003,first_name='def', last_name='uvw', email='def@gmail.com',phone_number='16542988927', department_id='11')
insert_employee(employee_id=1004,first_name='ghi', last_name='rst', email='ghi@gmail.com',phone_number='93275337699', department_id='13')
insert_employee(employee_id=1005,first_name='jkl', last_name='opq', email='opq@gmail.com',phone_number='39050239033', department_id='14')

In [10]:
insert_department(department_id='11', department_name='Mobile Developers', location='Pune' , manager_id='100')
insert_department(department_id='12', department_name='DevOps', location='Delhi' , manager_id='102')
insert_department(department_id='13', department_name='Cloud', location='Bengaluru' , manager_id='104')
insert_department(department_id='14', department_name='QA', location='Ahemdabad' , manager_id='106')
insert_department(department_id='15', department_name='Business Development', location='Mumbai' , manager_id='108')

In [11]:
show_all('employees')

(1001, 'Maharshi', 'Joshi', 'xyz@gmail.com', '0123456789', 11)
(1002, 'abc', 'xyz', 'test@gmail.com', '98792879872', 12)
(1003, 'def', 'uvw', 'def@gmail.com', '16542988927', 11)
(1004, 'ghi', 'rst', 'ghi@gmail.com', '93275337699', 13)
(1005, 'jkl', 'opq', 'opq@gmail.com', '39050239033', 14)

In [13]:
show_all('departments')

(11, 'Mobile Developers', 'Pune', 100)
(12, 'DevOps', 'Delhi', 102)
(13, 'Cloud', 'Bengaluru', 104)
(14, 'QA', 'Ahemdabad', 106)
(15, 'Business Development', 'Mumbai', 108)

In [17]:
#apply condition where the manager id should be 102 , who is the employee
cursor.execute('''
    SELECT * FROM employees WHERE department_id = (SELECT department_id FROM departments WHERE manager_id = 102)
''')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1002, 'abc', 'xyz', 'test@gmail.com', '98792879872', 12)

In [18]:
#apply condition for the data based on employeed_id
cursor.execute('''
        SELECT first_name FROM employees WHERE department_id = 11
    ''')
rows = cursor.fetchall()
for row in rows:
    print(row)

('Maharshi',)
('def',)

In [ ]:
#check from any one location which employee is present

In [ ]:
#ascending order by default after that #descending order