In [2]:
import sqlite3

connection = sqlite3.connect('test.db')
connection

In [3]:
cursor = connection.cursor()

In [ ]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS employees(
  employee_id INT PRIMARY KEY,
  first_name VARCHAR(255),
  last_name VARCHAR(255),
  email VARCHAR(255),
  phone_number VARCHAR(20),
  department_id INT
)''')
connection.commit()

In [5]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS departments(
  department_id INT PRIMARY KEY,
  department_name VARCHAR(100),
  location VARCHAR(100),
  manager_id INT

)''')
connection.commit()

In [ ]:
def insert_employee(employee_id, first_name, last_name, email, phone_number, department_id):
    cursor.execute(f'''
        INSERT INTO employees(employee_id, first_name, last_name, email, phone_number, department_id)
            VALUES ('{employee_id}', '{first_name}', '{last_name}', '{email}', '{phone_number}', '{department_id}')
    ''')

In [10]:
def insert_department(department_id, department_name, location, manager_id):
    cursor.execute(f'''
        INSERT INTO departments(department_id, department_name, location, manager_id)
            VALUES ('{department_id}', '{department_name}', '{location}', '{manager_id}')
    ''')

In [12]:
def show_all(table_name):
    cursor.execute(f'''
        SELECT * FROM {table_name}
    ''')
    rows = cursor.fetchall()
    for row in rows:
        print(row)

In [8]:
insert_employee(employee_id=1001,first_name='Maharshi', last_name='Joshi', email='xyz@gmail.com',phone_number='0123456789', department_id='101')

In [9]:
insert_employee(employee_id=1002,first_name='abc', last_name='xyz', email='test@gmail.com',phone_number='98792879872', department_id='102')
insert_employee(employee_id=1003,first_name='def', last_name='uvw', email='def@gmail.com',phone_number='16542988927', department_id='101')
insert_employee(employee_id=1004,first_name='ghi', last_name='rst', email='ghi@gmail.com',phone_number='93275337699', department_id='103')
insert_employee(employee_id=1005,first_name='jkl', last_name='opq', email='opq@gmail.com',phone_number='39050239033', department_id='101')

In [11]:
insert_department(department_id='101', department_name='Mobile Developers', location='Pune' , manager_id='1006')
insert_department(department_id='102', department_name='DevOps', location='Delhi' , manager_id='1006')
insert_department(department_id='103', department_name='Cloud', location='Bengaluru' , manager_id='1006')
insert_department(department_id='104', department_name='QA', location='Ahemdabad' , manager_id='1006')
insert_department(department_id='105', department_name='Business Development', location='Mumbai' , manager_id='1006')

In [13]:
show_all('employees')

(1001, 'Maharshi', 'Joshi', 'xyz@gmail.com', '0123456789', 101)
(1002, 'abc', 'xyz', 'test@gmail.com', '98792879872', 102)
(1003, 'def', 'uvw', 'def@gmail.com', '16542988927', 101)
(1004, 'ghi', 'rst', 'ghi@gmail.com', '93275337699', 103)
(1005, 'jkl', 'opq', 'opq@gmail.com', '39050239033', 101)

In [14]:
show_all('departments')

(101, 'Mobile Developers', 'Pune', 1006)
(102, 'DevOps', 'Delhi', 1006)
(103, 'Cloud', 'Bengaluru', 1006)
(104, 'QA', 'Ahemdabad', 1006)
(105, 'Business Development', 'Mumbai', 1006)